{%- macro comment_before(i) -%}
{% if i.comment_before %}
<div class="disass_comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro comment_after(i) -%}
{% if i.comment_after %}
<div class="disass_comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro comment_inline(i) -%}
{%- if i.comment -%}
<span class="disass_comment"> ; {{i.comment}}</span>
{%- endif -%}
{%- endmacro -%}

{%- macro tabs() %}   {% endmacro -%}

{%- macro address(i) -%}
<b>{{"{:04x}".format(i.address)}}</b>
{%- endmacro -%}

{%- macro address_range(i) -%}
<b>{{"{:04x}-{:04x}".format(i.ivl.first, i.ivl.last)}}</b>
{%- endmacro -%}

{%- macro label(i) -%}
{% if i.label %}
<b>{{i.label}}:</b><br/>
{%- endif %}
{%- endmacro -%}

{%- macro anchor(i) -%}
{% if i.is_destination -%}
<a name="{{"{:04x}".format(i.address)}}"></a>
{%- endif %}
{%- endmacro -%}

{%- macro operand(i) -%}
{%- if i.instruction.is_source -%}
<a href="#{{"{:04x}".format(i.instruction.target)}}">
{%- endif -%}
{{i.instruction.operand|e}}
{%- if i.instruction.is_source -%}
</a>
{%- endif -%}
{{i.instruction.op_adjust}}
{%- endmacro -%}

{%- macro instruction(i) -%}
{{i.instruction.mnemonic}} {{i.instruction.pre}}{{operand(i)}}{{i.instruction.post}}
{%- endmacro -%}

{#- ----------------section handlers---------------- -#}

{#- ----------------intro---------------- -#}
{%- macro intro_handler(section) -%}
<div class="disass_intro">
{{section.section_type}} section @
{{-address_range(section)-}} 
</div>
{%- endmacro -%}

{#- ----------------prefix---------------- -#}
{%- macro prefix_handler(section) -%}
{{ anchor(section) }}
{{ comment_before(section) }}
{{ label(section) }}
{{ comment_after(section) }}
{%- if section.authoring_info -%}
{{section.authoring_info.type}} section @
{{-address_range(section.authoring_info)-}} 
{%- endif -%}
{%- endmacro -%}

{#- ----------------code---------------- -#}
{%- macro code_handler(section) -%}
<div class="disass_code">
{%- for i in section.lines -%}
{{anchor(i)}}{{address(i)}}{{tabs()}}{{i.bytes|seq2str("{:02x}",w=8)}}{{tabs()}}{{instruction(i)-}}
{{-comment_inline(i)}}
{% endfor -%}
</div>
{%- endmacro -%}

{#- ----------------data---------------- -#}
{%- macro data_handler(section) -%}
<div class="disass_code">
{%- for i in section.lines -%}
{{anchor(i)}}{{address(i)}}{{tabs()}}{{i.bytes|seq2str("{:02x}", s=[(1," "), (4, "  ")])}}
{% endfor -%}
</div>
{%- endmacro -%}

{#- ----------------ptr16---------------- -#}
{%- macro ptr16_handler(section) -%}
<table>
{%- for i in section.lines -%}
<tr><td>{{address(i)}}&nbsp;&nbsp;&nbsp;</td>
{%- for v in i.vals -%}
<td>
{%- if v.is_source -%}
<a href="#{{"{:04x}".format(v.val.addr)}}">
{%- endif -%}
{{v.val.name}}
{%- if v.is_source -%}
</a>
{%- endif -%}
{{v.val.op_adjust}}&nbsp;&nbsp;&nbsp;</td>
{%- endfor -%}</tr>
{% endfor -%}
</table>
{%- endmacro -%}

{#- ----------------chars---------------- -#}
{%- macro chars_handler(section) -%}
<b>{{"{:04x}".format(section.address)}}</b><br/>
<img src="{{section.generate()}}"/><br/>
{%- endmacro -%}

{#- ----------------hole---------------- -#}
{%- macro hole_handler(section) -%}
<a name="{{section.name}}"></a>
<div class="disass_hole">
{% if section.next %}<a href="#{{section.next}}">Next hole</a><br/><br/>{% endif %}
{%- for r in section.contents -%}
{{ r.type|dispatch(r) }}
{% endfor -%}
</div>
{%- endmacro -%}

{#- ----------------basic---------------- -#}
{%- macro basic_handler(section) -%}
<div class="disass_basic">
{%- for ln in section.lines -%}
{{- anchor(ln) }}{#{{address(ln)}}{{tabs() -}}-#}
{%- for tkn in ln.tokens -%}
{{ tkn.type|cbmbasic_dispatch(tkn) }}
{%- endfor %}
{% endfor -%}
</div>
{%- endmacro -%}

{%- macro cbmbasic_line_num_handler(tkn) -%}
{{ tkn.val }} {% endmacro -%}

{%- macro cbmbasic_text_handler(tkn) -%}
{{ tkn.val }}
{%- endmacro -%}

{%- macro cbmbasic_command_handler(tkn) -%}
{{ tkn.val }}
{%- endmacro -%}

{%- macro cbmbasic_quoted_handler(tkn) -%}
{{ tkn.val }}
{%- endmacro -%}

{%- macro cbmbasic_line_ref_handler(tkn) -%}
{%- if tkn.is_source -%}
<a href="#{{"{:04x}".format(tkn.target)}}">
{%- endif -%}
{{ tkn.val }}
{%- if tkn.is_source -%}
</a>
{%- endif -%}
{%- endmacro -%}

{%- macro cbmbasic_address_handler(tkn) -%}
{%- if tkn.is_source -%}
<a href="#{{"{:04x}".format(tkn.target)}}">
{%- endif -%}
{{ tkn.val }}
{%- if tkn.is_source -%}
</a>
{%- endif -%}
{%- endmacro -%}

{#- ----------------dontcare---------------- -#}
{%- macro dontcare_handler(section) -%}
<div class="disass_notinterested">
{{address_range(section)}} : {{section.title}}<br/>
</div>
{%- endmacro -%}

{#- ********************************BODY******************************** #}

<div class="disass_container">
{% if builton %}<span class="disass_tiny">built on {{builton}}</span><br/>{% endif %}
{% if title %}<h1>{{title}}</h1>{% endif %}

{#- ----------------first hole link---------------- -#}
{%- if have_holes %}
<a href="#hole_0">First hole</a><br/><br/>
{% endif -%}

{#- ----------------index---------------- -#}
{%- if has_index %}
{%- for ii in index -%}
<a href="#{{"{:04x}".format(ii.address)}}">{{ii.name}}</a><br/>
{% endfor -%}
<br/>
{% endif -%}

{#- ----------------sections---------------- -#}
{%- for section in items -%}
{{ section.type|dispatch(section) }}
{% endfor -%}
</div>
