<!doctype html>

<html>
<head>
<style>
.container {
	font-family: monospace;
}
.comment {
	font-family: inherit;
	white-space: pre;
}
</style>
</head>

<body>
<div class="container">
{% for i in items -%}

{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{% endif %}

{% if i.label %}
<b>{{i.label}}</b><br/>
{% endif %}

{{"{:04x}".format(i.address)}}&nbsp;&nbsp;&nbsp;&nbsp;{{i.bytes|lst_fmt("{:02x} ", 9)}}

<br/>

{%endfor -%}
</divz
</body>
</html>
