<!doctype html>

<html>
<head>
<style>
.container {
	font-family: monospace;
}
.comment {
	font-family: inherit;
	white-space: pre;
	color : blue;
}
.code {
	font-family: inherit;
	white-space: pre;
}
</style>
</head>

<body>
<div class="container">
{%- for i in items -%}

{% if i.type == "code" %}

{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{%- endif -%}

{% if i.label %}
<b>{{i.label}}</b><br/>
{% endif -%}

{% if i.comment_after %}
<span class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{% endif %}

<span class="code">{{"{:04x}".format(i.address)}}&nbsp;&nbsp;&nbsp;&nbsp;{{i.bytes|seq2str("{:02x}",w=8)}}&nbsp;&nbsp;&nbsp;&nbsp;{{i.instruction.mnemonic}} {{i.instruction.pre}}{{i.instruction.operand}}{{i.instruction.post}}</span><br/>

{% elif i.type == "data" %}

{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{%- endif -%}

{% if i.label %}
<b>{{i.label}}</b><br/>
{% endif -%}

{% if i.comment_after %}
<span class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{% endif %}

<span class="code">{{"{:04x}".format(i.address)}}&nbsp;&nbsp;&nbsp;&nbsp;{{i.bytes|seq2str("{:02x}", s=[(1," "), (4, "  ")])}}</span><br/>

{% elif i.type == "ptr16" %}

{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{%- endif -%}

{% if i.label %}
<b>{{i.label}}</b><br/>
{% endif -%}

{% if i.comment_after %}
<span class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{% endif %}

<span class="code">{{"{:04x}".format(i.address)}}&nbsp;&nbsp;&nbsp;&nbsp;{{i.bytes|seq2str("{:04x}", s=[(1," "), (4, "  ")])}}</span><br/>

{% elif i.type == "chars" %}

{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{%- endif -%}

{% if i.label %}
<b>{{i.label}}</b><br/>
{% endif -%}

{% if i.comment_after %}
<span class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{% endif %}

<img src="{{i.generate()}}"/><br/>

{% endif %}

{% endfor -%}

</div>
</body>
</html>
