<!doctype html>

<html>
<head>
<style>
.container {
	font-family: monospace;
}
.comment {
	font-family: inherit;
	white-space: pre;
	color : blue;
}
.code {
	font-family: inherit;
	white-space: pre;
}
</style>
</head>

{%- macro comment_before(i) -%}
{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{%- endif -%}
{%- endmacro -%}

{%- macro comment_after(i) -%}
{% if i.comment_before %}
<span class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</span>
{%- endif -%}
{%- endmacro -%}

{%- macro tabs() -%}
&nbsp;&nbsp;&nbsp;&nbsp;
{%- endmacro -%}

{%- macro address(i) -%}
<b>{{"{:04x}".format(i.address)}}</b>{{tabs()}}
{%- endmacro -%}

{%- macro label(i) -%}
{% if i.label %}
<b>{{i.label}}</b><br/>
{%- endif %}
{%- endmacro -%}

{%- macro anchor(i) -%}
{% if i.is_destination %}
<a name="{{"{:04x}".format(i.address)}}"></a>
{%- endif %}
{%- endmacro -%}

{%- macro prefix(i) -%}
{{ anchor(i) }}
{{ comment_before(i) }}
{{ label(i) }}
{{ comment_after(i) }}
{%- endmacro -%}

{%- macro operand(i) -%}
{%- if i.instruction.is_source -%}
<a href="#{{"{:04x}".format(i.instruction.target)}}">
{%- endif -%}
{{i.instruction.operand}}
{%- if i.instruction.is_source -%}
</a>
{%- endif -%}
{%- endmacro -%}

{%- macro instruction(i) -%}
{{i.instruction.mnemonic}} {{i.instruction.pre}}{{operand(i)}}{{i.instruction.post}}
{%- endmacro -%}

{%- macro vals(i) -%}
{%- for v in i.vals -%}
{{v.val}}&nbsp;
{%- endfor -%}
{%- endmacro -%}

<body>
<div class="container">
{%- for section in items -%}

{#- ----------------code---------------- -#}
{%- if section.name == "code" -%}

{%- for i in section.contents -%}
{{- prefix(i) -}}
<span class="code">{{address(i)}}{{i.bytes|seq2str("{:02x}",w=8)}}{{tabs()}}{{instruction(i)}}</span><br/>
{%- endfor -%}

{# ----------------data---------------- #}
{% elif section.name == "data" -%}

{%- for i in section.contents -%}
{{- prefix(i) -}}
<span class="code">{{address(i)}}{{vals(i)}}</span><br/>
{%- endfor -%}

{# ----------------ptr16---------------- #}
{% elif section.name == "ptr16" -%}
<table>
{%- for i in section.contents -%}
{{- prefix(i) -}}
<tr><td>{{address(i)}}</td>
{%- for v in i.vals -%}
<td>
{%- if v.is_source -%}
<a href="#{{"{:04x}".format(v.target)}}">
{%- endif -%}
{{v.val}}
{%- if v.is_source -%}
</a>
{%- endif -%}
&nbsp;&nbsp;&nbsp;</td>
{%- endfor -%}</tr>
{% endfor -%}
</table>

{# ----------------chars---------------- #}
{% elif section.name == "chars" -%}

{%- for i in section.contents -%}
{{- prefix(i) -}}
<b>{{"{:04x}".format(i.address)}}</b><br/>
<img src="{{i.generate()}}"/><br/>
{%- endfor -%}

{%- endif -%}

{% endfor -%}

</div>
</body>
</html>
