<!doctype html>

<html>
<head>
<style>
.container {
	font-family: monospace;
}
.comment {
	font-family: inherit;
	white-space: pre;
	color : blue;
}
.code {
	font-family: inherit;
	white-space: pre;
}
.hole {
	border: 2px solid red;
}
</style>
</head>

{%- macro comment_before(i) -%}
{% if i.comment_before %}
<div class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro comment_after(i) -%}
{% if i.comment_after %}
<div class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro tabs() %}   {% endmacro -%}

{%- macro address(i) -%}
<b>{{"{:04x}".format(i.address)}}</b>
{%- endmacro -%}

{%- macro label(i) -%}
{% if i.label %}
<b>{{i.label}}</b>
{%- endif %}
{%- endmacro -%}

{%- macro anchor(i) -%}
{% if i.is_destination -%}
<a name="{{"{:04x}".format(i.address)}}"></a>
{%- endif %}
{%- endmacro -%}

{%- macro operand(i) -%}
{%- if i.instruction.is_source -%}
<a href="#{{"{:04x}".format(i.instruction.target)}}">
{%- endif -%}
{{i.instruction.operand}}
{%- if i.instruction.is_source -%}
</a>
{%- endif -%}
{{i.instruction.op_adjust}}
{%- endmacro -%}

{%- macro instruction(i) -%}
{{i.instruction.mnemonic}} {{i.instruction.pre}}{{operand(i)}}{{i.instruction.post}}
{%- endmacro %}

{#- ----------------section handlers---------------- -#}

{#- ----------------prefix---------------- -#}
{%- macro prefix_handler(section) -%}
{{ anchor(section) }}
{{ comment_before(section) }}
{{ label(section) }}
{{ comment_after(section) }}
{%- endmacro -%}

{#- ----------------code---------------- -#}
{%- macro code_handler(section) -%}
<div class="code">
{%- for i in section.lines -%}
{{anchor(i)}}{{address(i)}}{{tabs()}}{{i.bytes|seq2str("{:02x}",w=8)}}{{tabs()}}{{instruction(i)}}
{% endfor -%}
</div>
{%- endmacro -%}

{#- ----------------data---------------- -#}
{%- macro data_handler(section) -%}
<div class="code">
{%- for i in section.lines -%}
{{anchor(i)}}{{address(i)}}{{tabs()}}{{i.bytes|seq2str("{:02x}", s=[(1," "), (4, "  ")])}}
{% endfor -%}
</div>
{%- endmacro -%}

{#- ----------------ptr16---------------- -#}
{%- macro ptr16_handler(section) -%}
<table>
{%- for i in section.lines -%}
<tr><td>{{address(i)}}&nbsp;&nbsp;&nbsp;</td>
{%- for v in i.vals -%}
<td>
{%- if v.is_source -%}
<a href="#{{"{:04x}".format(v.target)}}">
{%- endif -%}
{{v.val}}
{%- if v.is_source -%}
</a>
{%- endif -%}
&nbsp;&nbsp;&nbsp;</td>
{%- endfor -%}</tr>
{% endfor -%}
</table>
{%- endmacro -%}

{#- ----------------chars---------------- -#}
{%- macro chars_handler(section) -%}
<br/><b>{{"{:04x}".format(section.address)}}</b><br/>
<img src="{{section.generate()}}"/><br/>
{%- endmacro -%}

{#- ----------------hole---------------- -#}
{%- macro hole_handler(section) -%}
<a name="{{section.name}}"></a>
<div class="hole">
{% if section.next %}<a href="#{{section.next}}">Next hole</a><br/><br/>{% endif %}
{% set ns = next_item(items) %}
{{ ns.type|dispatch(ns) }}
{% set ns = next_item(items) %}
{{ ns.type|dispatch(ns) }}
</div>
{%- endmacro -%}

{%- macro basic_handler(section) -%}
{%- for i in section.lines -%}
{{ i.line }}<br/>
{% endfor -%}
{%- endmacro -%}

{#- ********************************BODY******************************** -#}

<body>
<div class="container">
{% if title %}<h1>{{title}}</h1><br/>{% endif %}

{#- ----------------first hole link---------------- -#}
{% if have_holes %}
<a href="#hole_0">First hole</a><br/><br/>
{% endif %}

{#- ----------------index---------------- -#}
{%- for ii in index -%}
<a href="#{{"{:04x}".format(ii.address)}}">{{ii.name}}</a><br/>
{% endfor -%}
<br/>

{#- ----------------sections---------------- -#}
{%- for section in items -%}
{{ section.type|dispatch(section) }}
{% endfor -%}

</div>
</body>
</html>
