<!doctype html>

<html>
<head>
<style>
.container {
	font-family: monospace;
}
.comment {
	font-family: inherit;
	white-space: pre;
	color : blue;
}
.code {
	font-family: inherit;
	white-space: pre;
}
</style>
</head>

{%- macro comment_before(i) -%}
{% if i.comment_before %}
<div class="comment">
{%- for line in i.comment_before.splitlines() -%}
; {{line}}
{% endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro comment_after(i) -%}
{% if i.comment_after %}
<div class="comment">
{%- for line in i.comment_after.splitlines() -%}
; {{line}}
{% endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro tabs() %}   {% endmacro -%}

{%- macro address(i) -%}
<b>{{"{:04x}".format(i.address)}}</b>
{%- endmacro -%}

{%- macro label(i) -%}
{% if i.label %}
<b>{{i.label}}</b>
{%- endif %}
{%- endmacro -%}

{%- macro anchor(i) -%}
{% if i.is_destination -%}
<a name="{{"{:04x}".format(i.address)}}"></a>
{%- endif %}
{%- endmacro -%}

{%- macro operand(i) -%}
{%- if i.instruction.is_source -%}
<a href="#{{"{:04x}".format(i.instruction.target)}}">
{%- endif -%}
{{i.instruction.operand}}
{%- if i.instruction.is_source -%}
</a>
{%- endif -%}
{{i.instruction.op_adjust}}
{%- endmacro -%}

{%- macro instruction(i) -%}
{{i.instruction.mnemonic}} {{i.instruction.pre}}{{operand(i)}}{{i.instruction.post}}
{%- endmacro %}

<body>
<div class="container">

<h1>{{title}}</h1><br/>

{#- ----------------index---------------- -#}
{%- for ii in index -%}
<a href="#{{"{:04x}".format(ii.address)}}">{{ii.name}}</a><br/>
{% endfor -%}
<br/>

{%- for section in items -%}

{#- ----------------prefix---------------- -#}
{%- if section.type == "prefix" -%}

{{ anchor(section) }}
{{ comment_before(section) }}
{{ label(section) }}
{{ comment_after(section) }}

{#- ----------------code---------------- -#}
{%- elif section.type == "code" -%}

<div class="code">
{%- for i in section.lines -%}
{{anchor(i)}}{{address(i)}}{{tabs()}}{{i.bytes|seq2str("{:02x}",w=8)}}{{tabs()}}{{instruction(i)}}
{% endfor -%}
</div>

{# ----------------data---------------- #}
{% elif section.type == "data" -%}

<div class="code">
{%- for i in section.lines -%}
{{anchor(i)}}{{address(i)}}{{tabs()}}{{i.bytes|seq2str("{:02x}", s=[(1," "), (4, "  ")])}}
{% endfor -%}
</div>

{# ----------------ptr16---------------- #}
{% elif section.type == "ptr16" -%}
<table>
{%- for i in section.lines -%}
<tr><td>{{address(i)}}&nbsp;&nbsp;&nbsp;</td>
{%- for v in i.vals -%}
<td>
{%- if v.is_source -%}
<a href="#{{"{:04x}".format(v.target)}}">
{%- endif -%}
{{v.val}}
{%- if v.is_source -%}
</a>
{%- endif -%}
&nbsp;&nbsp;&nbsp;</td>
{%- endfor -%}</tr>
{% endfor -%}
</table>

{# ----------------chars---------------- #}
{% elif section.type == "chars" -%}

<br/><b>{{"{:04x}".format(section.address)}}</b><br/>
<img src="{{section.generate()}}"/><br/>

{% endif -%}

{% endfor -%}

</div>
</body>
</html>
